body{
    padding-top: 89px;
    position: relative;
}
.material-symbols-outlined {
//   font-variation-settings:
//   'FILL' 0,
//   'wght' 400,
//   'GRAD' 0,
//   'opsz' 48
    vertical-align: middle;
}
.activity-list{
    // 星星的尺寸
    a img{
        width: 24px;
    }
    a[href="EVENT.html"]:hover{
        text-decoration: underline;
    }
    a[href="javascript:;"],a[href="EVENT-detail.html"]{
        position: relative;
        &:hover{
            &::before{
                content: '';
                width: 29px;
                height: 29px;
                border-radius: 50%;
                background: #FBFF22;
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 8px;
                transform: translate(-50%,-50%);
            }
        }
    }
}
// tag
.tag-list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding-left: 0px;
    li{
        margin-bottom: 8px;
    }
    a{
        display: block;
        position: relative;
        font-family: 'Noto Serif TC';
        // font-weight: bold;
        padding: 4px 24px;
        @include Mobile(){
            padding: 4px 16px;
            font-size: 14px;
        }
        border: 1px solid $secondary;
        border-left-width: 4px;
        &:hover,&.active{
            background: $secondary;
            color: $white;
            &::before{
                content: '';
                position: absolute;
                left: -4px;
                top: -1px;
                bottom: -1px;
                width: 4px;
                background: $primary;
            }
        }
        
    }
}
.area-title{
    border: 3px solid $secondary;
    @include Mobile(){
        border-width: 2px;
        &>:first-child{
            font-size: 24px;
        }
        &>:nth-child(2){
            font-size: 16px;
        }
    }
}
.btn.btn-secondary , .btn.btn-outline-secondary{
    &:hover{
      color: $primary;
    }
  }

.bg-yellow-light{
    background: #EBEAE8;
}