
<!-- <nav class="border-bottom border-3">
    <div class="container py-4 d-flex">
        <a href="index.html" class="link-secondary d-flex align-items-center me-5">
            <img src="../assets/images/logo.png" alt="logo" class="logo d-block me-3">
            <h1 class="h4 mb-0 me-1">7TAO</h1>
            <h2 class="h6 fs-8 mb-0">活動訂票網</h2>
        </a>
        <form class="d-flex border border-secondary border-2 w-25">
            <input type="search" id="site-search" name="q" class="border-0 ps-4 flex-grow-1 bg-transparent" placeholder="探索活動"/>
            <button class="btn btn-secondary" type="submit"><span class="material-symbols-outlined link-primary">
                search
                </span></button>
        </form>
        <ul class="list-unstyled d-flex align-items-center mb-0 ms-auto gap-4">
            <li><a href="" class="h6 fs-7 mb-0 link-secondary">
                <i class="icofont-ui-file"></i><h5>REGISTER</h5>
            </a></li>
            <li><a href="" class="fs-7 mb-0 link-secondary">
                <i class="icofont-ui-file"></i><h5>REGISTER</h5>
            </a></li>
        </ul>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light border-bottom border-3">
    <div class="container d-flex">
      <a class="navbar-brand link-secondary d-flex align-items-center me-0 me-md-7" href="index.html">
        <img src="../assets/images/logo.png" alt="logo" class="logo d-block me-md-3">
        <div class="d-none d-md-block d-md-flex align-items-center">
            <h1 class="h4 me-1">7TAO</h1>
            <h2 class="h6 fs-8">活動訂票網</h2>
        </div>
      </a>
      <!-- 搜尋 -->
      <form class="d-flex border border-2">
        <input type="search" id="site-search" name="q" class="border-0 ps-4 flex-grow-1 bg-transparent" placeholder="探索活動"/>
        <button class="btn btn-secondary" type="submit"><span class="material-symbols-outlined link-primary">
            search
            </span></button>
        </form>

      <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center gap-2">
          <li class="nav-item">
            <a class="nav-link h6 fs-7" aria-current="page" href="#"><i class="icofont-ui-file"></i>REGISTER
            </a></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h6 fs-7" href="#"><i class="icofont-ui-file"></i>LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>