<nav class="navbar navbar-expand-lg navbar-light border-bottom border-3 py-4">
    <div class="container d-flex justify-content-between">
      <div class="d-flex">
        <a class="navbar-brand d-flex align-items-center py-0" href="index.html">
          <img src="../assets/images/logo.png" alt="logo" class="logo d-block">
          <div class="link-secondary d-none d-md-block d-md-flex align-items-center ms-4">
              <h1 class="h4 me-1">7TAO</h1>
              <h2 class="h6 fs-8">活動訂票網</h2>
          </div>
        </a>
        <!-- 搜尋 -->
        <form class="d-flex border border-2 ms-1 ms-md-7">
          <input type="search" id="site-search" name="q" class="border-0 ps-4 flex-grow-1 bg-transparent" placeholder="探索活動"/>
          <button class="btn btn-secondary px-3 px-md-4" type="submit">
              <i class="icofont-search-1 link-primary"></i>
          </button>
        </form>

      </div>

      <button class="navbar-toggler border border-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mt-5 mb-2 mb-lg-0 align-items-center gap-2">
          <li class="nav-item">
            <a class="nav-link h6 fs-7" aria-current="page" href="#"><i class="icofont-ui-file me-1"></i>REGISTER
            </a></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h6 fs-7 me-1" href="#"><i class="icofont-ui-user me-1"></i>LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>