.logo{
  width: 53px;
  @include Mobile(){
    width: 40px;
  }
}
.navbar{
  background: #F3F1E5;
  z-index: 10;
  // 搜尋input
  form{
    input[type="search"]{
      height: 50px;
      width: 284px;
      @include Mobile(){
        height: 36px;
        width: 168px;
      }
    }
  }
}
.nav-link{
  color: $secondary;
  &:hover{
    color: #9C9E18;
  }
}